@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudAppBar Color="Color.Primary" Fixed="false">

    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
    <MudButton Variant="Variant.Filled" Color="Color.Info">Call</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Raise</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Info">Fold</MudButton>
    <p>Balance: @balance</p>
    <p>@(((Game_State)state).ToString())</p>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />
</MudAppBar>


<MudPaper Class="d-flex justify-center">
    <MudPaper Class="">
    @for (var i = 1; i < 6; ++i)
    {
            if (state == (int)Game_State.PREFLOP) break;
            if (state == (int)Game_State.FLOP && i == 4) break;
            if (state == (int)Game_State.TURN && i == 5) break;
            <img src="Assets/CLUB-@(i).svg" style="background-color:red;  height: 200px; @(displayDeck)" />
    }
</MudPaper>
</MudPaper>
<br>
<MudPaper Class="d-flex justify-center">
    <MudPaper Class="">
    <img @onclick="() => test()" src="Assets/CLUB-1.svg" style="background-color:red; height: 300px;" />
    <img src="Assets/CLUB-2.svg" style="background-color:red; height: 300px;" />

    
</MudPaper>

</MudPaper>








@code {
    private enum Game_State
    {
        PREFLOP,
        FLOP,
        TURN,
        RIVER
    }
    private int? balance = 150;
    private int? state = 0;
    private string? imageSource = "pirmas test";
    private string? displayDeck = "display:none;";
    private void test()
    {
        
        state = (state + 1) % 4;
        displayDeck = "";
    }
}
